body{
  background: #bacdff;
}

.app{
  background: #fff;
  width: 400px;
  min-height: 80vh;
  margin: 20px auto;
  border: 10px solid #7399f1;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: #2a468b;
}

.crossed{
  text-decoration: line-through 2px #fa9746;
  background: #eaf3fa;
}

ul, li{
  list-style-type: none;
  padding: 5px;
  margin: 0px;
}

.container{
  display: flex;
  justify-content: center;
}

.btn{
  padding: 10px;
  border: none;
  width: 90%;
  font-size: 16px;
  cursor: pointer;
}

.add{
  margin-top: 5px;
  background: #fa9746;
  color:#fff;
}

.delete{
  margin-bottom: 10px;
  background: #2a468b;
  color: #fff;
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  border: 1px solid #2a468b;
}